{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "../eslint/common"],
  "globals": {
    "document": false,
    "window": false
  },
  "rules": {},
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 6,
    "requireConfigFile": false
  }
}
